.textInput {
	padding-left: 0 !important;
	padding-bottom: 10px !important;
}
.textBox {
	width: 100px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background-color:#f24537;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	display:inline-block;
	color:#ffffff !important;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:49px;
	line-height:49px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}.button:hover {
	background-color:#c62d1f;
}.button:active {
	position:relative;
	top:1px;
}
#share {
	float: left;
	clear: both;	
	width: 100%;
	margin-left: 20px;
}
#shareLink {
	resize: none;
	height: 18px;
}
.info {
	background-color: rgb(46, 46, 43);
	color: white;
	text-align: left;
	float: left;
	clear: both;
	margin-bottom: 10px;
	padding: 40px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tab {
	width: 100px;
	display: inline-block;
}

strong {
	color: orange;
}


.info:not(.twitter-share-button) a:link {color:#DF821E;}      /* unvisited link */
.info:not(.twitter-share-button) a:visited {color:#CE7515;}  /* visited link */
.info:not(.twitter-share-button) a:hover {color:#AC5C07;}  /* mouse over link */
.info:not(.twitter-share-button) a:active {color:#DB8D39;}  /* selected link */

.ghLogo, .dgLogo {
	height: 32px;
	position: absolute;
	top: 13px;
	right: 13px;
}

.dgLogo {
	left: 13px;
}

.ghLogo > a, .dgLogo > a {
	border-style: none;
}
.git-icon {
	height: 32px;
}

.twitter {
	margin-left:20px;
	float: left;
	clear: both;
	background: inherit !important;
	padding: 0 !important; 
}

